---
import Layout from '../layouts/Layout.astro';
---

<Layout title="VOID">

	<!-- <nav class="fixed top-0 h-auto z-20 w-screen grid place-items-start px-5 py-3 xl:place-items-center overflow-hidden">
		<img src="/assets/logos/void_no_background.png" class="h-full w-full max-w-2xl filter"/>
	</nav> -->
	
	<main class="w-screen h-screen relative overflow-hidden">

		<header class="grid place-items-center h-auto w-screen fixed top-0 z-20 p-2">
			<img src="/assets/logos/void_no_background.png" class="h-auto w-full max-w-xl animate-fade animate-delay-[1500ms] animate-ease-linear" fetchpriority="high"/>
		</header>

		<div class="h-screen w-screen snap-mandatory snap-y overflow-y-scroll overflow-x-hidden absolute keep-scrolling overscroll-none">

			<section class="h-screen w-screen snap-center snap-always border-b-8 border-black" id="1">
				<div class="h-screen w-screen flex justify-center">
					<img class="flex-none max-w-max max-h-full xl:max-w-full z-40 animate-fade-up animate-delay-1000 animate-ease-linear animate-duration-500" src="/assets/images/image1-nobg.webp"  fetchpriority="high"/>
				</div>
			</section>

			<section class="h-screen w-screen snap-center snap-always border-b-8 border-black" id="2">
				<div class="h-screen w-screen flex justify-center relative">
					<img class="h-auto w-auto flex-none max-w-max max-h-full xl:max-w-full z-50 absolute" src="/assets/images/image2-nobg.webp"/>
				</div>
			</section>
			
			<section class="h-screen w-screen snap-center snap-always border-b-8 border-black" id="3">
				<div class="h-screen w-screen flex justify-center relative">
					<img class="h-auto w-auto flex-none max-w-max max-h-full xl:max-w-full z-50 absolute" src="/assets/images/image3-nobg.webp"/>
				</div>
			</section>

			<section class="h-screen w-screen snap-center snap-always border-b-8 border-black" id="4">
				<div class="h-screen w-screen flex justify-center relative">
					<img class="h-auto w-auto flex-none max-w-max max-h-full xl:max-w-full z-50 absolute" src="/assets/images/image4-nobg.webp"/>
				</div>
			</section>

			<section class="h-screen w-screen snap-center snap-always border-b-8 border-black" id="5">
				<div class="h-screen w-screen flex justify-center relative">
					<img class="h-auto w-auto flex-none max-w-max max-h-full xl:max-w-full z-50 absolute" src="/assets/images/image5-nobg.webp"/>
				</div>
			</section>

			<!-- <section class="h-screen w-screen snap-center snap-always border-b-8 border-black" id="6">
				<div class="h-screen w-screen flex justify-center relative">
					<img class="h-auto w-auto flex-none max-w-max max-h-full xl:max-w-full z-50 absolute" src="/assets/images/image6-nobg.webp"/>
				</div>
			</section> -->

			<section class="h-screen w-screen snap-center snap-always border-b-8 border-black" id="6">
				<div class="h-screen w-screen flex justify-center relative">
					<img class="h-auto w-auto flex-none max-w-max max-h-full xl:max-w-full z-50 absolute" src="/assets/images/image7-nobg.webp"/>
				</div>
			</section>

			<section class="h-screen w-screen snap-center snap-always border-b-8 border-black" id="7">
				<div class="h-screen w-screen flex justify-center relative">
					<img class="h-auto w-auto flex-none max-w-max max-h-full xl:max-w-full z-50 absolute" src="/assets/images/image8-nobg.webp"/>
				</div>
			</section>

			<section class="h-screen w-screen snap-center snap-always border-b-8 border-black" id="8">
				<div class="h-screen w-screen flex justify-center relative">
					<img class="h-auto w-auto flex-none max-w-max max-h-full xl:max-w-full z-50 absolute" src="/assets/images/image9-nobg.webp"/>
				</div>
			</section>

			<section class="h-screen w-screen snap-center snap-always border-b-8 border-black" id="9">
				<div class="h-screen w-screen flex justify-center relative">
					<img class="h-auto w-auto flex-none max-w-max max-h-full xl:max-w-full z-50 absolute" src="/assets/images/image10-nobg.webp"/>
				</div>
			</section>

			<section class="h-screen w-screen snap-center snap-always border-b-8 border-black" id="10">
				<div class="h-screen w-screen flex justify-center relative">
					<img class="h-auto w-auto flex-none max-w-max max-h-full xl:max-w-full z-50 absolute" src="/assets/images/image11-nobg.webp"/>
				</div>
			</section>

			<section class="h-screen w-screen snap-center snap-always border-b-8 border-black" id="11">
				<div class="h-screen w-screen flex justify-center relative">
					<img class="h-auto w-auto flex-none max-w-max max-h-full xl:max-w-full z-50 absolute" src="/assets/images/image12-nobg.webp"/>
				</div>
			</section>
		
			<!-- <section class="h-screen w-screen bg-black snap-center snap-always py-20" id="3">
				<iframe class="h-full w-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3400.5196015428614!2d-68.52776332403536!3d-31.537351802110113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x968140281b059031%3A0xbdafc7e302f74c9a!2sPlaza%2025%20de%20Mayo!5e0!3m2!1ses-419!2sar!4v1693491404878!5m2!1ses-419!2sar" allowfullscreen="true" loading="eager" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</section> -->
		</div>

	</main>
	
	<footer class="fixed h-20 w-full z-50 bottom-0 xxs:px-0 xs:px-4 md:px-5 py-4 flex justify-between items-center">
		<div class="w-auto h-auto flex items-center gap-2">
			<a href="https://www.facebook.com/profile.php?id=100091333492995&mibextid=ZbWKwL" target="_blank" class="h-12 w-12 p-3 bg-black rounded-full filter hover:invert active:scale-95 transition-all duration-150 ease-in-out grid place-items-center"><i class="fa-brands fa-facebook fa-lg" style="color: white"/></a>
			<a href="https://www.instagram.com/thevoid.sj/" target="_blank" class="h-12 w-12 p-3 bg-black rounded-full filter hover:invert active:scale-95 transition-all duration-150 ease-in-out grid place-items-center"><i class="fa-brands fa-instagram fa-lg" style="color: white"/></a>
			<a href="https://api.whatsapp.com/send?phone=542645478255" target="_blank" class="h-12 w-12 p-3 bg-black rounded-full filter hover:invert active:scale-95 transition-all duration-150 ease-in-out grid place-items-center"><i class="fa-brands fa-whatsapp fa-lg" style="color: white"/></a>
			<a href="https://goo.gl/maps/GP1Bb1rgg5sn5vM89" target="_blank" class="h-12 w-12 p-3 bg-black rounded-full filter hover:invert active:scale-95 transition-all duration-150 ease-in-out grid place-items-center"><i class="fa-solid fa-location-dot fa-lg" style="color: white"/></a>
		</div>
		<div class="w-auto h-auto"> 
			<a href="https://thevoid2.mitiendanube.com" target="_blank" class="h-12 w-auto py-4 px-5 bg-black rounded-full font-bold text-white filter hover:invert active:scale-95 transition-all duration-150 ease-in-out ">Tienda</a>
		</div>
	</footer>
</Layout>

<script>
	const isInViewport = (element: HTMLElement): boolean => {
    	const rect: DOMRect = element.getBoundingClientRect()
		return (
			rect.top >= 0 &&
			rect.left >= 0 &&
			rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
			rect.right <= (window.innerWidth || document.documentElement.clientWidth)
		)
	}

	const sectionHasntBeenScrolled = (section: number): HTMLElement => {
		const actualSection = document.getElementById(`${section}`)
		const result = isInViewport(actualSection)
		if(result) return actualSection 
		else return null
	}

	const doScroll = (sectionId: number): void => {
		setTimeout( () => {
			const actualSection:HTMLElement = sectionHasntBeenScrolled(sectionId)
			console.log(`in ${sectionId}`)
			if(actualSection){
				const nextSection: HTMLElement = document.getElementById(`${sectionId+1}`)
			console.log(`scrolling to ${sectionId+1}`)
				nextSection.scrollIntoView({
					behavior: 'smooth',
					block: 'center',
				})
			}
		},7000 + (5000 * (sectionId-1)))
	}

	for(let sectionId:number = 1; sectionId < 12; sectionId++) {
		doScroll(sectionId)
	}

</script>

<style>
	.section {
		position: sticky;
		position: -webkit-sticky;
		top: 0;
		z-index: 10;
	}
</style>